<!doctype html>
<html class="no-js" ng-app="angularMaterialAdmin">
<head>
<meta charset="utf-8">
<title>Angular Material Dashboard</title>
<meta name="description"
	content="Angular admin dashboard with material design">
<meta name="author" content="flatlogic.com">
<meta name="viewport" content="width=device-width">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

 <link rel="stylesheet" href="../js/lib/nvd3/build/nv.d3.css" />
    <link rel="stylesheet" href="../js/lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="../js/lib/angular-material-data-table/dist/md-data-table.css" />

 <link rel="stylesheet" href="../css/app/index.css">

</head>
<body>
	
	<div ui-view layout="row" layout-fill></div>

    <script src="../js/lib/jquery/dist/jquery.js"></script>
    <script src="../js/lib/angular/angular.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-route.min.js"></script>
    <script src="../js/lib/angular-animate/angular-animate.js"></script>
    <script src="../js/lib/angular-cookies/angular-cookies.js"></script>
    <script src="../js/lib/angular-touch/angular-touch.js"></script>
    <script src="../js/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="../js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../js/lib/d3/d3.js"></script>
    <script src="../js/lib/nvd3/build/nv.d3.js"></script>
    <script src="../js/lib/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="../js/lib/angular-aria/angular-aria.js"></script>
    <script src="../js/lib/angular-messages/angular-messages.js"></script>
    <script src="../js/lib/angular-material/angular-material.js"></script>
    <script src="../js/lib/angular-mocks/angular-mocks.js"></script>
    <script src="../js/lib/angular-material-data-table/dist/md-data-table.js"></script>

	<script src="../js/app.js"></script>
	<script src="../js/components/services/TodoListService.js"></script>
	<script src="../js/components/services/TableService.js"></script>
	<script src="../js/components/services/PerformanceService.js"></script>
	<script src="../js/components/services/NavService.js"></script>
	<script src="../js/components/services/MessagesService.js"></script>
	<script src="../js/components/services/CountriesService.js"></script>
	<script src="../js/components/directives/panelWidget.js"></script>
	<script src="../js/components/directives/messagesSection.js"></script>
	<script src="../js/controllers/WarningsController.js"></script>
	<script src="../js/controllers/VisitorsController.js"></script>
	<script src="../js/controllers/UsageController.js"></script>
	<script src="../js/controllers/TodoController.js"></script>
	<script src="../js/controllers/TableController.js"></script>
	<script src="../js/controllers/SearchController.js"></script>
	<script src="../js/controllers/ProfileController.js"></script>
	<script src="../js/controllers/PerformanceController.js"></script>
	<script src="../js/controllers/MessagesController.js"></script>
	<script src="../js/controllers/MemoryController.js"></script>
	<script src="../js/controllers/MainController.js"></script>
	<script src="../js/controllers/DataTableController.js"></script>
	<script src="../js/controllers/ControlPanelController.js"></script>
	<script src="../js/index.js"></script>
	

</body>
</html>
